# ECDSA private key (0x...) of the Hedera testnet account used to deploy.
# The deploy scripts also use this account as the leaderboard "game server".
PRIVATE_KEY=
HEDERA_TESTNET_RPC=https://testnet.hashio.io/api

# Used by mint-test-nfts.js / test scripts
NFT_CONTRACT_ADDRESS=
